* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

.app {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 30px;
}

h1 {
    font-size: 32px;
}
.cards {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}
.bottom-section {

    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 25px;

    margin-top: 35px;

}